<!--
<div class="news mt-30">
	<div class="newsletterblock">
		<div class="newsletter-form">
			<div class="page-title">
				<h3>Bản Tin</h3>
			</div>
			<div class="block-content">
				<div class="news-info">
					<div class="news-dec">
						<i class="fa fa-paper-plane"></i>
						<div class="title-text">Đăng Ký Để Nhận Được Thông Tin Mới
							Nhất</div>
						<div class="news-description">Đăng ký các bản tin của chúng
							tôi ngay bây giờ và cập nhật các bộ sưu tập mới và các ưu đãi độc
							quyền.</div>
					</div>
				</div>
				&lt;!&ndash; newsletter box &ndash;&gt;
				<form name="frmnewsletter" id="frmnewsletter" th:action="@{/register}" method="get">
					<div class="subscribe-form">
						<button type="submit" class="subscribe-btn">Đăng Ký</button>
					</div>
					&lt;!&ndash; newsletter notofication &ndash;&gt;
					<div class="newsletter-message"></div>
					&lt;!&ndash; newsletter notofication &ndash;&gt;
				</form>
				&lt;!&ndash; newsletter box &ndash;&gt;
			</div>
		</div>
	</div>
</div>-->
